mysite/.idea/
mysite/pfx/static/pfx/bootstrap/docs/_includes/components/labels.html
mysite/pfx/static/pfx/bootstrap/
.idea/
*.pyc
mysite/db.sqlite3
mysite/pfx/ig/rest_private.py
*.log
mysite/pfx/ig/imap_private.py
