{% extends "base.html" %}

{% load humanize %}

{% comment %}
  Main page.
{% endcomment %}

{% block head %}
    <title>Poultry FX IG View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
   <h1 class="page-header">Open positions</h1>
{% if positions %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Deal ID</th>
          <th>Instrument</th>
          <th>Size</th>
          <th>Direction</th>
          <th>Start</th>
          <th>Limit</th>
          <th>Stop</th>
          <th>Max Win</th>
          <th>Max Loss</th>
          <th>Price</th>
          <th>Profit</th>
        </tr>
       </thead>
       <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.ig_pos_dealid }}</td>
            <td>{{ position.ig_pos_instrument }}</td>
            <td>{{ position.ig_pos_size }}</td>
            <td>{{ position.ig_pos_direction }}</td>
            <td>{{ position.ig_pos_start_level }}</td>
            <td>{{ position.ig_pos_limit }}</td>
            <td>{{ position.ig_pos_stop }}</td>
            <td>{{ position.ig_pos_max_win }}</td>
            <td>{{ position.ig_pos_max_loss }}</td>
            <td>{{ position.ig_pos_price }}</td>
            <td>{{ position.ig_pos_profit }}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
{% else %}
   <p>No positions.</p>
{% endif %}

   <h1 class="page-header">Activity</h1>
{% if activities %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date Time</th>
          <th>DealID</th>
          <th>Activity</th>
          <th>Result</th>
          <th>Limit</th>
          <th>Level</th>
          <th>Stop</th>
          <th>Market</th>
          <th>Size</th>
        </tr>
       </thead>
       <tbody>
        {% for act in activities %}
        <tr>
            <td>{{ act.ig_act_datetime }}</td>
            <td>{{ act.ig_act_dealid }}</td>
            <td>{{ act.ig_act_activity }}</td>
            <td>{{ act.ig_act_result }}</td>
            <td>{{ act.ig_act_limit }}</td>
            <td>{{ act.ig_act_level  }}</td>
            <td>{{ act.ig_act_stop  }}</td>
            <td>
                {% if act.ig_act_url != "" %}
                    <a href=" {{act.ig_act_url}} " target="_blank">
                {% endif %}
                {{ act.ig_act_marketName }}
                {% if act.ig_act_url != "" %}
                    </a>
                {% endif %}
            </td>

            <td>{{ act.ig_act_size  }}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
{% else %}
   <p>No activity.</p>
{% endif %}

{% endblock %}

