{% extends "base.html" %}

{% load humanize %}

{% comment %}
  Main page.
{% endcomment %}

{% block head %}
    <title>Poultry FX IG View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
   <h1 class="page-header">Open positions</h1>
{% if positions %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Instrument</th>
          <th>Size</th>
          <th>Direction</th>
          <th>Start</th>
          <th>Limit</th>
          <th>Stop</th>
          <th>Price</th>
          <th>Profit</th>
        </tr>
       </thead>
       <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.ig_pos_instrument }}</td>
            <td>{{ position.ig_pos_size }}</td>
            <td>{{ position.ig_pos_direction }}</td>
            <td>{{ position.ig_pos_start_level }}</td>
            <td>{{ position.ig_pos_limit }}</td>
            <td>{{ position.ig_pos_stop }}</td>
            <td>{{ position.ig_pos_price }}</td>
            <td>{{ position.ig_pos_profit }}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
{% else %}
   <p>No positions.</p>
{% endif %}

{% endblock %}

