{% extends "base.html" %}

{% load humanize %}

{% comment %}
  Main page.
{% endcomment %}

{% block head %}
    <title>Poultry FX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}


{% if member %}
<h1 class="page-header">Member</h1>
{% endif %}

{% if members %}

<h1 class="page-header">Members</h1>

  <p><a href="/members?updatetradesizes=1">Update Trade Sizes</a></p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Trade Size</th>
          <th>Cash Deposit</th>
          <th>Gross Profit</th>
          <th>Deductions</th>
          <th>Net Profit</th>
          <th>Return</th>
          <th>Balance</th>
        </tr>
       </thead>
       <tbody>
        {% for member in members %}
        <tr>
            <td><a href="/members?id={{member.id}}">{{ member.name }}</a></td>
            <td>{{ member.calculated_trade_size |floatformat:2|intcomma}}</td>
            <td>£{{ member.cash_deposit |floatformat:2|intcomma}}</td>
            <td>£{{ member.gross_profit |floatformat:2|intcomma}}</td>
            <td>£{{ member.deductions |floatformat:2|intcomma}}</td>
            <td>£{{ member.net_profit |floatformat:2|intcomma}}</td>
            <td>{{ member.return_percentage |floatformat:2|intcomma}}%</td>
            <td>£{{ member.balance |floatformat:2|intcomma}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>TOTAL</td>
            <td>{{ total_calculated_trade_size |floatformat:2|intcomma}}</td>
            <td>£{{ total_cash_deposit |floatformat:2|intcomma}}</td>
            <td>£{{ total_gross_profit |floatformat:2|intcomma}}</td>
            <td>£{{ total_deductions |floatformat:2|intcomma}}</td>
            <td>£{{ total_net_profit |floatformat:2|intcomma}}</td>
            <td>{{ total_return |floatformat:2|intcomma}}%</td>
            <td>£{{ total_balance |floatformat:2|intcomma}}</td>
        </tr>
       </tbody>
     </table>
   </div>

  <div class="table-responsive">
    <table class="table table-bordered">
       <tbody>
       <tr>
          <th>Fun Fund</th>
          <td>£{{ total_fun_fund |floatformat:2|intcomma}} </td>
       </tr>
       <tr>
          <th>Commission</th>
          <td>£{{ total_commission |floatformat:2|intcomma}} </td>
        </tr>
        <tr>
          <th>Members Balance</th>
          <td>£{{ total_balance|floatformat:2|intcomma}} </td>
        </tr>
        <tr>
          <th>Total IG Balance</th>
          <th>£{{ total_ig_balance|floatformat:2|intcomma}} </th>
        </tr>
       </tbody>
     </table>
   </div>



{% else %}

    <h3 class="page-header">No open positions</h3>
{% endif %}

{% endblock %}

