{% extends "base.html" %}

{% load humanize %}

{% comment %}
  Main page.
{% endcomment %}

{% block head %}
    <title>Poultry FX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
   <h1 class="page-header">Account Summary</h1>

{% if member %}

{% if user.is_superuser %}
<a href="/members"> All Members</a>
{% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
       <tbody>
        <tr>

            <td><b>Name</b></td>
            <td>{{member.name}}</td>
        </tr>
        <tr>

            <td><b>Cash Deposit Total</b></td>
            <td>£{{member.cash_deposit |floatformat:2|intcomma}}</td>
        </tr>
        <tr>
            <td><b>Net Profit</b></td>
            <td>£{{member.net_profit | floatformat:2|intcomma}}</td>
        </tr>
        <tr>
            <td><b>Balance</b></td>
            <td>£{{member.balance | floatformat:2|intcomma}}</td>
        </tr>
        <tr>
            <td><b>Return</b></td>
            <td>{{member.return_percentage | floatformat:2|intcomma}}%</td>
        </tr>
        <tr>
            <td><b>Perfect Return</b></td>
            <td>{{member.perfect_return_percentage | floatformat:2|intcomma}}%</td>
        </tr>
        <tr>
            <td><b>Total fun fund</b></td>
            <td>£{{fun_fund | floatformat:2|intcomma}}</td>
        </tr>
        <tr>
            <td><b>Trade size</b></td>
            <td>£{{member.calculated_trade_size | floatformat:2|intcomma}} per point</td>
        </tr>
       </tbody>
     </table>
   </div>
{% else %}
    <h3 class="page-header">No account information</h3>
{% endif %}

<h1 class="page-header">Open positions</h1>

{% if positions %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Instrument</th>
          <th>Size</th>
          <th>Direction</th>
          <th>Start</th>
          <th>Limit</th>
          <th>Stop</th>
          <th>Max Win</th>
          <th>Min Win</th>
          <th>Price</th>
          <th>Profit</th>
        </tr>
       </thead>
       <tbody>
        {% for position in positions %}
        <tr>
            <td>
                {% if position.ig_pos_url != "" %}
                    <a href=" {{position.ig_pos_url}} " target="_blank">
                {% endif %}
                {{ position.ig_pos_instrument }}
                {% if position.ig_pos_url != "" %}
                    </a>
                {% endif %}
            </td>
            <td>{{ position.ig_pos_size }}</td>
            <td>{{ position.ig_pos_direction }}</td>
            <td>{{ position.ig_pos_start_level }}</td>
            <td>{{ position.ig_pos_limit }}</td>
            <td>{{ position.ig_pos_stop }}</td>
            <td>{{ position.ig_pos_max_win |floatformat:2|intcomma }}</td>
            <td>{{ position.ig_pos_max_loss |floatformat:2|intcomma}}</td>
            <td>{{ position.ig_pos_price }}</td>
            <td>£{{ position.ig_pos_profit |floatformat:2|intcomma}}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
{% else %}
    <h3 class="page-header">No open positions</h3>
{% endif %}

<h1 class="page-header">Completed Trades</h1>


{% if trades %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Market</th>
          <th>Direction</th>
          <th>Opening Price</th>
          <th>Closing Price</th>
          <th>Size</th>
          <th>Gross profit</th>
          <th>Commission</th>
          <th>Fun Fund</th>
          <th>Net Profit</th>
        </tr>
       </thead>
       <tbody>
        {% for trade in trades %}
        <tr>
            <td>{{ trade.igpl.closed_date }}</td>
            <td>{{ trade.igpl.market }}</td>
            <td>{{ trade.igpl.direction }}</td>
            <td>{{ trade.igpl.opening_price }}</td>
            <td>{{ trade.igpl.closing_price }}</td>
            <td>{{ trade.size }}</td>
            <td>£{{ trade.profit |floatformat:2|intcomma}}</td>
            <td>£{{ trade.commission |floatformat:2|intcomma}}</td>
            <td>£{{ trade.fun_fund |floatformat:2|intcomma}}</td>
            <td>£{{ trade.net_profit |floatformat:2|intcomma}}</td>
        </tr>
        {% endfor %}
       </tbody>
     </table>
   </div>
{% else %}
    <h3 class="page-header">No completed trades</h3>
{% endif %}
{% endblock %}

